<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />

  <link
    rel="stylesheet"
    href="https://getbootstrap.com/docs/4.5/examples/product/product.css"
  />
</head>
<body>
  <nav class="site-header sticky-top py-1">
    <div
      class="container d-flex flex-column flex-md-row justify-content-between"
    >
      <a class="py-4 d-none d-md-inline-block" routerLink="register"
        >Register</a
      >
      <a class="py-4 d-none d-md-inline-block" routerLink="login">Login</a>

      <a class="py-4 d-none d-md-inline-block" routerLink="view">View Data</a>
    </div>
  </nav>
  <div
    class="container-fluid d-flex flex-column flex-md-row justify-content-between bg-dark"
  >
    <pre><p class="text-uppercase" style="color: antiquewhite; font-size: 3.2rem;">
        
                      Welcome 
                        to 
             COVID-19 Data Visualizer

 
    </p></pre>
  </div>
</body>
