<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />

  <!-- <link
    rel="stylesheet"
    href="https://getbootstrap.com/docs/4.5/examples/product/product.css"
  /> -->
</head>

<body class="bg-dark">
  <div class="container-fluid align-content-center">
    <br /><br /><br />
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form
              class="form-signin"
              [formGroup]="loginForm"
              (submit)="validateLogin()"
            >
              <div class="form-label-group">
                <label for="inputEmail">Email address</label>
                <input
                  type="email"
                  id="inputEmail"
                  class="form-control"
                  placeholder="Email address"
                  formControlName="email"
                  autofocus
                />
                <br />
              </div>

              <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input
                  type="password"
                  id="inputPassword"
                  class="form-control"
                  placeholder="Password"
                  formControlName="password"
                />
                <br />
              </div>
              <!-- <p>{{ loginForm.value | json }}</p> -->
              <button
                class="btn btn-lg btn-primary btn-block text-uppercase"
                type="submit"
              >
                Sign in
              </button>
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</body>
